/*
 * Globals
 */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.masthead {
    position: relative;
    padding: 15rem 1rem;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
    background-image: -webkit-linear-gradient(top, #563d7c 0%, #6f5499 100%);
    background-image: -o-linear-gradient(top, #563d7c 0%, #6f5499 100%);
    background-image: linear-gradient(to bottom, #563d7c 0%, #6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}

.masthead h1 {
    color: #fff;
    font-size: 8rem;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module p:last-child,
.sidebar-module ul:last-child,
.sidebar-module ol:last-child {
  margin-bottom: 0;
}


/*
 * Blog
 */
.blog-main {
  font-size: 16px;
  line-height: 1.5;
}
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
  color: #337ab7;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.blog-post-meta-category-page {
  margin-bottom: 20px;
  color: #999;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

img{ width: 100%; height: auto;max-width: 100%; display: block; }
