<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="{{ site.baseurl }}/">Home</a>
      <a class="blog-nav-item" href="{{ site.baseurl }}/category">Categories</a>
      <a class="blog-nav-item" href="https://github.com/ouyangliang">Github</a>
      <a class="blog-nav-item" href="mailto:ouyanggod@gmail.com?subject=From%20Blog%20Reader">Contact Me</a>
      <span class="blog-nav-item pull-right">Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></span>
    </nav>
  </div>
</div>
