<!DOCTYPE html>
<html lang="zh-CN">
    {% include head.html %}
    <body>
        {% include header.html %}
        <div style="display:none;">
            <img src="{{site.baseurl}}/icon.jpg" />
        </div>

        <div class="container">
            <div class="blog-header">
                <h1 class="blog-title">{{ site.title }}</h1>
                <p class="lead blog-description">编程不止是一份工作，还是一种乐趣!!!</p>
            </div>

            <div class="row">
                <div class="col-sm-10 blog-main">
                    {{ content }}
                </div>

                <div class="col-sm-2 blog-sidebar">
                    {% include sidebar.html %}
                </div>
            </div>
        </div>

        <div class="footer navbar-fixed-bottom">
          <div class="container">
              <p class="footer-item">Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>
          </div>
        </div>

        <script src="{{site.baseurl}}/jquery.min.js"></script>
        <script src="{{site.baseurl}}/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <script>
          $( document ).ready(function() {
            var idx = location.href.indexOf("?");
            if (-1 == idx) {
              return;
            }

            var category = decodeURIComponent(location.href.substr(idx + 1));
            if ($('#' + category + '_box')) {
              $('#' + category + '_box').css('display', '');
            }
          });
        </script>
    </body>
</html>
