<!DOCTYPE html>
<html lang="zh-CN">
    {% include head.html %}
    <body>
        {% include header.html %}
        <div style="display:none;">
            <img src="{{site.baseurl}}/icon.jpg" />
        </div>

        <div class="container">
            <div class="blog-header">
                <h1 class="blog-title">{{ site.title }}</h1>
                <p class="lead blog-description">编程不止是一份工作，还是一种乐趣!!!</p>
            </div>

            <div class="row">
                <div class="col-sm-10 blog-main">
                    {{ content }}
                </div>

                <div class="col-sm-2 blog-sidebar">
                    {% include sidebar.html %}
                </div>
            </div>
        </div>

        <div id="container"></div>

        <script src="{{site.baseurl}}/jquery.min.js"></script>
        <script src="{{site.baseurl}}/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {
                skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
                inlineMath: [['$','$']],
                displayMath: [ ["$$","$$"] ]
              }
            });
        </script>
        <script src="{{site.baseurl}}/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script>
          $( document ).ready(function() {
            var gitment = new Gitment({
              owner: 'ouyangliang',
              repo: 'ouyangliang.github.io',
              oauth: {
                client_id: '4ce74da95acf41f69a16',
                client_secret: 'be8a4465ad0323308c516288214f0dd749e75c6f',
              },
            })
            gitment.render('container')

            var idx = location.href.indexOf("?");
            if (-1 == idx) {
              $ ('.hidden-category').css('display', '');
            } else {
              var category = decodeURIComponent(location.href.substr(idx + 1));
              if ($('#' + category + '_box')) {
                $('#' + category + '_box').css('display', '');
              }
            }
          });
        </script>
    </body>
</html>
