<!DOCTYPE html>
<html lang="zh-CN">
    {% include head.html %}
    <body>
        {% include header.html %}
        <div style="display:none;">
            <img src="{{site.baseurl}}/icon.jpg" />
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-8 blog-main">
                    {{ content }}
                </div>

                {% include sidebar.html %}
            </div>

        </div>

        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{site.baseurl}}/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    </body>
</html>
